# ------------------------
# OBS Studio config ignores
# ------------------------

# Logs and crash reports
logs/
log/
*.gz

# Backup files
*.bak

# Runtime / machine-specific state
safe_mode
basic/profiles/Sans_nom/
